* {
    flex:content;
    align-items: center; 
  }

.sumform{ 
    margin: 50px;
    padding: 50px;
    background-color: antiquewhite;
}

.heading{
    size: 30px;
    font-style: bold;
    text-align: center;
}

.heading2{
    size: 20px;
    font-style: italic;
    text-align: justify;
}

navbar{
    position: absolute;
    padding: 10px;
    display: table;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    top: 0;
}

@media only screen and(max-width:400px){
    * {
        text-align: center;
    }
}
